@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300regular,500,600,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Poppins";
  font-size: 0.75rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Сниппет (HTML): cnt
*/

[class*=__container] {
  max-width: 86.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.icon-menu {
  display: none;
}

.header {
  background-color: #000;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 110;
}

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #acacac;
  font-weight: 600;
  line-height: 18px;
  padding: 15px 0;
}

@supports (font-size: clamp( 0.625rem , 0.5516055046rem  +  0.3669724771vw , 0.875rem )) {
  .header__item {
    font-size: clamp( 0.625rem , 0.5516055046rem  +  0.3669724771vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.625rem , 0.5516055046rem  +  0.3669724771vw , 0.875rem )) {
  .header__item {
    font-size: calc(
			0.625rem + 0.25 * (100vw - 20rem) / 68.125
		);
  }
}

.header__select {
  font-size: 12px;
  background-color: #000;
  color: white;
  cursor: pointer;
}

.header__link {
  margin-left: 10px;
  color: white;
  border-bottom: 2px solid white;
}

.item-link:not(:last-child) {
  margin-left: 16px;
  margin-right: 12px;
}

.menu {
  border-bottom: 1px solid #cacdd8;
  background-color: white;
}

.menu__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  padding-left: 0;
  padding-right: 0;
}

@supports (padding-top: clamp( 0.625rem , -2.8287639405rem  +  5.5762081784vw , 1.5625rem )) {
  .menu__block {
    padding-top: clamp( 0.625rem , -2.8287639405rem  +  5.5762081784vw , 1.5625rem );
  }
}

@supports not (padding-top: clamp( 0.625rem , -2.8287639405rem  +  5.5762081784vw , 1.5625rem )) {
  .menu__block {
    padding-top: calc(
			0.625rem + 0.9375 * (100vw - 61.9375rem) / 16.8125
		);
  }
}

@supports (padding-bottom: clamp( 0.625rem , -2.8287639405rem  +  5.5762081784vw , 1.5625rem )) {
  .menu__block {
    padding-bottom: clamp( 0.625rem , -2.8287639405rem  +  5.5762081784vw , 1.5625rem );
  }
}

@supports not (padding-bottom: clamp( 0.625rem , -2.8287639405rem  +  5.5762081784vw , 1.5625rem )) {
  .menu__block {
    padding-bottom: calc(
			0.625rem + 0.9375 * (100vw - 61.9375rem) / 16.8125
		);
  }
}

.menu__logo {
  margin: 0 25px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports ((-moz-column-gap: clamp( 0.625rem , -2.8287639405rem  +  5.5762081784vw , 1.5625rem )) or (column-gap: clamp( 0.625rem , -2.8287639405rem  +  5.5762081784vw , 1.5625rem ))) {
  .menu__list {
    -webkit-column-gap: clamp( 0.625rem , -2.8287639405rem  +  5.5762081784vw , 1.5625rem );
       -moz-column-gap: clamp( 0.625rem , -2.8287639405rem  +  5.5762081784vw , 1.5625rem );
            column-gap: clamp( 0.625rem , -2.8287639405rem  +  5.5762081784vw , 1.5625rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -2.8287639405rem  +  5.5762081784vw , 1.5625rem )) or (column-gap: clamp( 0.625rem , -2.8287639405rem  +  5.5762081784vw , 1.5625rem ))) {
  .menu__list {
    -webkit-column-gap: calc(
			0.625rem + 0.9375 * (100vw - 61.9375rem) / 16.8125
		);
       -moz-column-gap: calc(
			0.625rem + 0.9375 * (100vw - 61.9375rem) / 16.8125
		);
            column-gap: calc(
			0.625rem + 0.9375 * (100vw - 61.9375rem) / 16.8125
		);
  }
}

@supports (margin-left: clamp( 0.0000000625rem , -6.9075275883rem  +  11.1524159851vw , 1.875rem )) {
  .menu__list {
    margin-left: clamp( 0.0000000625rem , -6.9075275883rem  +  11.1524159851vw , 1.875rem );
  }
}

@supports not (margin-left: clamp( 0.0000000625rem , -6.9075275883rem  +  11.1524159851vw , 1.875rem )) {
  .menu__list {
    margin-left: calc(
			0.0000000625rem + 1.8749999375 * (100vw - 61.9375rem) / 16.8125
		);
  }
}

.menu__item {
  font-size: 14px;
}

@supports (font-size: clamp( 0.75rem , 0.2894981413rem  +  0.7434944238vw , 0.875rem )) {
  .menu__item {
    font-size: clamp( 0.75rem , 0.2894981413rem  +  0.7434944238vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.2894981413rem  +  0.7434944238vw , 0.875rem )) {
  .menu__item {
    font-size: calc(
			0.75rem + 0.125 * (100vw - 61.9375rem) / 16.8125
		);
  }
}

.menu__button {
  border: 2px solid #0156ff;
  color: #0156ff;
}

@supports (font-size: clamp( 0.75rem , 0.2894981413rem  +  0.7434944238vw , 0.875rem )) {
  .menu__button {
    font-size: clamp( 0.75rem , 0.2894981413rem  +  0.7434944238vw , 0.875rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.2894981413rem  +  0.7434944238vw , 0.875rem )) {
  .menu__button {
    font-size: calc(
			0.75rem + 0.125 * (100vw - 61.9375rem) / 16.8125
		);
  }
}

@supports (padding-left: clamp( 0.6875rem , -2.7662639405rem  +  5.5762081784vw , 1.625rem )) {
  .menu__button {
    padding-left: clamp( 0.6875rem , -2.7662639405rem  +  5.5762081784vw , 1.625rem );
  }
}

@supports not (padding-left: clamp( 0.6875rem , -2.7662639405rem  +  5.5762081784vw , 1.625rem )) {
  .menu__button {
    padding-left: calc(
			0.6875rem + 0.9375 * (100vw - 61.9375rem) / 16.8125
		);
  }
}

@supports (padding-right: clamp( 0.6875rem , -2.7662639405rem  +  5.5762081784vw , 1.625rem )) {
  .menu__button {
    padding-right: clamp( 0.6875rem , -2.7662639405rem  +  5.5762081784vw , 1.625rem );
  }
}

@supports not (padding-right: clamp( 0.6875rem , -2.7662639405rem  +  5.5762081784vw , 1.625rem )) {
  .menu__button {
    padding-right: calc(
			0.6875rem + 0.9375 * (100vw - 61.9375rem) / 16.8125
		);
  }
}

@supports (padding-top: clamp( 0.25rem , -0.6710037175rem  +  1.4869888476vw , 0.5rem )) {
  .menu__button {
    padding-top: clamp( 0.25rem , -0.6710037175rem  +  1.4869888476vw , 0.5rem );
  }
}

@supports not (padding-top: clamp( 0.25rem , -0.6710037175rem  +  1.4869888476vw , 0.5rem )) {
  .menu__button {
    padding-top: calc(
			0.25rem + 0.25 * (100vw - 61.9375rem) / 16.8125
		);
  }
}

@supports (padding-bottom: clamp( 0.25rem , -0.6710037175rem  +  1.4869888476vw , 0.5rem )) {
  .menu__button {
    padding-bottom: clamp( 0.25rem , -0.6710037175rem  +  1.4869888476vw , 0.5rem );
  }
}

@supports not (padding-bottom: clamp( 0.25rem , -0.6710037175rem  +  1.4869888476vw , 0.5rem )) {
  .menu__button {
    padding-bottom: calc(
			0.25rem + 0.25 * (100vw - 61.9375rem) / 16.8125
		);
  }
}

.menu__cabinet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  padding-left: 10px;
}

@supports ((-moz-column-gap: clamp( 1.25rem , -0.5920074349rem  +  2.9739776952vw , 1.75rem )) or (column-gap: clamp( 1.25rem , -0.5920074349rem  +  2.9739776952vw , 1.75rem ))) {
  .menu__cabinet {
    -webkit-column-gap: clamp( 1.25rem , -0.5920074349rem  +  2.9739776952vw , 1.75rem );
       -moz-column-gap: clamp( 1.25rem , -0.5920074349rem  +  2.9739776952vw , 1.75rem );
            column-gap: clamp( 1.25rem , -0.5920074349rem  +  2.9739776952vw , 1.75rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -0.5920074349rem  +  2.9739776952vw , 1.75rem )) or (column-gap: clamp( 1.25rem , -0.5920074349rem  +  2.9739776952vw , 1.75rem ))) {
  .menu__cabinet {
    -webkit-column-gap: calc(
			1.25rem + 0.5 * (100vw - 61.9375rem) / 16.8125
		);
       -moz-column-gap: calc(
			1.25rem + 0.5 * (100vw - 61.9375rem) / 16.8125
		);
            column-gap: calc(
			1.25rem + 0.5 * (100vw - 61.9375rem) / 16.8125
		);
  }
}

.menu__cabinet a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__cabinet a:nth-child(2) {
  position: relative;
}

.menu__cabinet a:nth-child(2)::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: 16px;
  background-color: #0156ff;
  border-radius: 50%;
  content: "2";
  color: white;
  position: absolute;
  top: -1px;
  left: 14px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
}

.button {
  border-radius: 50px;
  cursor: pointer;
}

.border {
  border: 1px solid #cacdd8;
}

.about {
  padding-top: 136px;
}

.about__page-title {
  font-weight: 400;
  line-height: 18px;
  margin-top: 21px;
  margin-bottom: 19px;
  margin-left: 5px;
}

.about__page-title span {
  color: #0156ff;
}

.about__title {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  color: #000;
  margin-left: 5px;
}

.content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-section__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-section__inner--rewers {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.content-section__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 60px 0;
}

@supports (padding-left: clamp( 0.875rem , -5.2587459634rem  +  9.9031216362vw , 6.625rem )) {
  .content-section__block {
    padding-left: clamp( 0.875rem , -5.2587459634rem  +  9.9031216362vw , 6.625rem );
  }
}

@supports not (padding-left: clamp( 0.875rem , -5.2587459634rem  +  9.9031216362vw , 6.625rem )) {
  .content-section__block {
    padding-left: calc(
			0.875rem + 5.75 * (100vw - 61.9375rem) / 58.0625
		);
  }
}

@supports (padding-right: clamp( 0.875rem , -5.2587459634rem  +  9.9031216362vw , 6.625rem )) {
  .content-section__block {
    padding-right: clamp( 0.875rem , -5.2587459634rem  +  9.9031216362vw , 6.625rem );
  }
}

@supports not (padding-right: clamp( 0.875rem , -5.2587459634rem  +  9.9031216362vw , 6.625rem )) {
  .content-section__block {
    padding-right: calc(
			0.875rem + 5.75 * (100vw - 61.9375rem) / 58.0625
		);
  }
}

@supports (padding-left: clamp( 1.25rem , -5.6837997847rem  +  11.1948331539vw , 7.75rem )) {
  .content-section__block--white {
    padding-left: clamp( 1.25rem , -5.6837997847rem  +  11.1948331539vw , 7.75rem );
  }
}

@supports not (padding-left: clamp( 1.25rem , -5.6837997847rem  +  11.1948331539vw , 7.75rem )) {
  .content-section__block--white {
    padding-left: calc(
			1.25rem + 6.5 * (100vw - 61.9375rem) / 58.0625
		);
  }
}

.content-section__block--2 {
  padding: 0;
}

@supports (padding-left: clamp( 0.875rem , -4.192007535rem  +  8.1808396125vw , 5.625rem )) {
  .content-section__block--3 {
    padding-left: clamp( 0.875rem , -4.192007535rem  +  8.1808396125vw , 5.625rem );
  }
}

@supports not (padding-left: clamp( 0.875rem , -4.192007535rem  +  8.1808396125vw , 5.625rem )) {
  .content-section__block--3 {
    padding-left: calc(
			0.875rem + 4.75 * (100vw - 61.9375rem) / 58.0625
		);
  }
}

.content-section__block--4 {
  padding: 0;
}

.content-section__block img {
  width: 100%;
}

.content-section__logo {
  width: 50px;
  height: 50px;
  margin-bottom: 8px;
}

.content-section__logo img {
  width: 100%;
}

.content-section__title {
  max-width: 465px;
  margin-bottom: 32px;
}

.content-section__text {
  font-weight: 300;
  line-height: 26px;
  max-width: 433px;
}

@supports (font-size: clamp( 0.875rem , -0.0460037175rem  +  1.4869888476vw , 1.125rem )) {
  .content-section__text {
    font-size: clamp( 0.875rem , -0.0460037175rem  +  1.4869888476vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.875rem , -0.0460037175rem  +  1.4869888476vw , 1.125rem )) {
  .content-section__text {
    font-size: calc(
			0.875rem + 0.25 * (100vw - 61.9375rem) / 16.8125
		);
  }
}

.content-section__text p:not(:last-child) {
  margin-bottom: 40px;
}

.content-section__img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-section__img--1 {
  max-width: 470px;
}

.content-section__img--2 {
  max-width: 777px;
}

.content-section__img--4 {
  max-width: 870px;
}

.content-section__img--5 {
  max-width: 409px;
}

.content-section--black {
  background-color: #000;
  color: white;
}

.title {
  font-size: 44px;
  font-weight: 500;
  line-height: 66px;
}

.title--white {
  color: white;
}

.title--black {
  color: #000;
}

.main-slider {
  padding: 63px 0;
}

.main-slider__container {
  max-width: 1200px;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f5f7ff;
  max-width: 1160px;
  margin: 0 auto;
  padding: 49px 119px 56px 119px;
  min-height: 310px;
}

.slide__blockquote {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.slide__blockquote blockquote {
  margin-left: 72px;
  max-width: 840px;
  position: relative;
}

.slide__blockquote blockquote::before {
  position: absolute;
  content: "‘’";
  font-size: 96px;
  font-weight: 400;
  line-height: 75px;
  left: -72px;
}

.slide__cite {
  text-align: right;
  margin-bottom: 21px;
}

.slide__cite cite {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.slide__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slide__button {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #0156ff;
  border: 1px solid #0156ff;
  padding: 7px 26px 7px 26px;
}

.slide-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.slide-dots__item {
  width: 12px;
  height: 12px;
  background: #cacdd8;
  border-radius: 50%;
}

.slide-dots__item--blue {
  background: #0156ff;
}

.prize {
  background: #f5f7ff;
  padding-top: 60px;
  padding-bottom: 45px;
}

.prize__container {
  max-width: 1160px;
}

.prize__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 -15px;
}

.prize__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  max-width: 265px;
  min-width: 200px;
  padding: 0 15px;
}

.item-prize__logo {
  margin-bottom: 25px;
}

.item-prize__title {
  margin-bottom: 13px;
  font-size: 18px;
  font-weight: 700;
  line-height: 132.5%;
}

.item-prize__text {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.footer {
  color: white;
  background-color: #000;
  padding-top: 47px;
}

.top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 45px;
}

.top-footer__title {
  font-size: 38px;
  font-weight: 500;
  line-height: 132.5%;
}

.top-footer__subtitle {
  font-size: 16px;
  font-weight: 300;
  line-height: 132.5%;
}

.top-footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
}

.top-footer__input {
  font-family: "Poppins";
  width: 391px;
  height: 50px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
  padding-left: 15px;
  color: white;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.top-footer__input::-webkit-input-placeholder {
  color: white;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.top-footer__input::-moz-placeholder {
  color: white;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.top-footer__input:-ms-input-placeholder {
  color: white;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.top-footer__input::-ms-input-placeholder {
  color: white;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.top-footer__input::placeholder {
  color: white;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.top-footer__button {
  background-color: #0156ff;
  padding: 14px 39px;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}

.middle-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 36px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@supports ((-moz-column-gap: clamp( 0.625rem , -15.032063197rem  +  25.2788104089vw , 4.875rem )) or (column-gap: clamp( 0.625rem , -15.032063197rem  +  25.2788104089vw , 4.875rem ))) {
  .middle-footer {
    -webkit-column-gap: clamp( 0.625rem , -15.032063197rem  +  25.2788104089vw , 4.875rem );
       -moz-column-gap: clamp( 0.625rem , -15.032063197rem  +  25.2788104089vw , 4.875rem );
            column-gap: clamp( 0.625rem , -15.032063197rem  +  25.2788104089vw , 4.875rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -15.032063197rem  +  25.2788104089vw , 4.875rem )) or (column-gap: clamp( 0.625rem , -15.032063197rem  +  25.2788104089vw , 4.875rem ))) {
  .middle-footer {
    -webkit-column-gap: calc(
			0.625rem + 4.25 * (100vw - 61.9375rem) / 16.8125
		);
       -moz-column-gap: calc(
			0.625rem + 4.25 * (100vw - 61.9375rem) / 16.8125
		);
            column-gap: calc(
			0.625rem + 4.25 * (100vw - 61.9375rem) / 16.8125
		);
  }
}

.middle-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.4;
}

.middle-footer__activity {
  color: #01a4ff;
}

.middle-footer__title {
  opacity: 0.5;
  margin-bottom: 28px;
  font-weight: 500;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 17px 0;
}

.footer-bottom__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.333%;
          flex: 1 1 33.333%;
  opacity: 0.6;
}

.footer-bottom__block:nth-child(1) img {
  padding-right: 16px;
}

.footer-bottom__block:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 13px;
}

.footer-bottom__block p {
  font-size: 12px;
  font-weight: 500;
  line-height: 132.5%;
  text-align: right;
  margin-left: 16px;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 61.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 1.875rem;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    background-color: #ffffff;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__item:not(:last-child) {
    padding-bottom: 0;
  }

  .menu__list {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #000000c7;
    color: white;
    padding: 20px 30px 20px 60px;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .menu__button {
    width: 100%;
    text-align: center;
    margin-top: 15px;
  }
}